.vs/
.vs/*

yaSketchbook.Models/bin
yaSketchbook.Models/obj

yaSketchbook.Data/bin
yaSketchbook.Data/obj

yaSketchbook.ViewModels/bin
yaSketchbook.ViewModels/obj

yaSketchbook.UI/bin
yaSketchbook.UI/obj
